:root{
    --bg-blue:#0f5061;
    --bg-red:rgb(183, 110, 26);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.nav{
    width: 100vw;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #0a8daf;
    height: 60px;
    padding-left:40px;
    margin-top: -7px;

}
.menu{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    margin: right 170px; 
    gap: 15px;
}
.navbar-brand{
color: aqua!important;
}
.menu .menu-btn{
    background-color: #606bf2;
    color: white;
    border:none;
    padding:5px 10px;
    border-radius: 7px;
    cursor: pointer;

}
.menu .menu-btn:hover{
    background-color: rgb(11, 131, 171);
    transform: scale(1.08);
}
/* search */
.search-container{
    display:flex ;
    justify-content :center;
    align-items: center;
    margin: 50px 0px;
}
.search-input{
    width:260px;
    border-radius: 20px;
    border:1px solid rgb(171, 168, 168);
    outline: none;
    padding: 10px;
    background-color: rgb(244, 233, 233);

}

/*  ppkk*/
.blog-icon{
    display: flex;
    justify-content: space-between;
    margin: 10px 100px;
    align-items: center;
    border-bottom: 2px solid var(--bg-red);
}
.blog-icon h3, .blog-icon i{
    color: var(--bg-red);
}
.blog-icon i{
    font-size: 20px;
}

/* post  */
.main-container{
    width: 100%;
    
}
.posts-container{
    display: grid;
    grid-template-columns: 210px 210px 210px 210px 210px;
    /* grid-template-rows: 323px 210px 210px 210px; */
    grid-column-gap: 40px;
    grid-row-gap: 50px;
    width: 137px;
    height: 154px;
    /* background-color: #2196F3; */
    padding: 10px;
    margin-left: 70px;
    padding-bottom: 150px;
    margin-bottom: 150px;
}


.blog{
border: 1px solid gray;
border-radius: 10px;
overflow: hidden;
cursor: pointer;
transition: transform 0.6s ease-in-out;
background-color: rgb(118, 166, 225);
height: 322px;
overflow-y: scroll;

}
::-webkit-scrollbar{
height:5px;
width: 1px;

}
.blog:hover{
    transform: scale(1.08);
}
.blog-image{
    width: 100%;
    height: 200px;

}
.blog-title{
    padding: 0px 8px;
}
.blog-title h2{
    color: rgb(16, 13, 13);
}
.post-link{
    text-decoration: none;
    color:black;
}


.form-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    align-items: center;
    justify-content: center;
}
.form-container form{
    background-color: bisque;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 40px 40px 40px 40px;
}
.form-container form h2{
    color: var(--bg-red);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px ;
}
.addnewblog{
    text-align: start;
}
.form-container form div {
    margin-top: 8px;
}
.form-container form input{
    /* width:100%; */
    padding: 10px;

}
.privacy span{
display: flex;

}
.form-container form textarea{
    width:100%;
    /* padding: 100px; */
    /* display: flex;
    flex-direction: column;
    align-items: start; */

}
/* .privacy{
    display: grid;
    grid-template-columns: auto auto;
} */
.form-container form button{
    background-color: green;
    color: rgb(248, 237, 237);
    padding: 8px 15px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 10px;
}
.form-container form button:hover{
    background-color: rgb(69, 233, 19);
}
.footer{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--bg-blue);
    text-align: center;
    height: 50px;
    padding: 5px;
    /* margin-top: 0px; */
}
.footer h2{
    color: rgb(200, 64, 64);
    margin:0;
    padding: 0;
}
.footer p{
    padding: 0;
    margin: 0;
}

@media (max-width:1200px) {
    .posts-container{
    display: grid;
    grid-template-columns: 210px 210px 210px;
    grid-column-gap: 40px;
    grid-row-gap: 50px;
    margin-left: 30px;
    }
}
@media (max-width:820px) {
    .posts-container{
        display: grid;
    grid-template-columns: 210px 210px 210px;
    grid-column-gap: 40px;
    grid-row-gap: 50px;
    }
}

@media (max-width:700px) {
    .posts-container{
        display: grid;
    grid-template-columns: 210px 210px ;
    grid-column-gap: 40px;
    grid-row-gap: 50px;
    margin-left: 30px;
    }
}
@media (max-width:667px) {
    .posts-container{
        display: grid;
    grid-template-columns: 150px 150px ;
    grid-column-gap: 40px;
    grid-row-gap: 50px;
    margin-left: 10px;
    }
}
@media (max-width:615px) {
    .posts-container{
    display: grid;
    grid-template-columns: 350px;
    grid-column-gap: 40px;
    grid-row-gap: 50px;
    margin-left: 50px;
    }
}
@media (max-width:300px) {
    .posts-container{
        display: grid;
    grid-template-columns: 250px ;
    grid-column-gap: 40px;
    grid-row-gap: 50px;
    margin-left: 10px;
    }
    
}